<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first handle bars page</title>
</head>

<body>
    <h1>Hello {{name}}from handlebars view!</h1>
    <h2>This is so exciting for you as you see this for the first time at age of: {{age}}!</h2>
    <p>I would definitely like to get better at this, as i find it very interesting. For that very reason i will
        continue with the online courses and press forward to learn more and new interesting development things.</p>
    <footer>
        <p>All rights reserved &copy;</p>
    </footer>
</body>

</html>